.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--branco);
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__botao:checked ~ .container__label > .cabecalho__menu-hamburguer {
    background-image: url(../img/Menu_black.svg);
}

.container__botao:checked ~ .container__label {
    background: var(--azul-degrade);
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__titulo, .opcoes, .container__texto, .container__botao {
    display: none;
}



@media screen and (min-width: 1024px) {

    .container__titulo {
        font-family: var(--fonte-secundaria);
        display: block;
        font-size: 30px;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        gap: 2em;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho__menu-hamburguer, .container__imagem-transparent, .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao:checked ~ .opcoes__label > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;        
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 2em;
    }
    
    .container__texto {
        display: block;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 20px;
    }

    .opcoes {
        margin-right: auto;
        margin-left: 5em;
    }

}
